{% extends "main_django.html" %}
{% load i18n %}

{% block body %}
<style>
    .cart .container {
        padding: 25px 20px 30px 20px; 
    }
    .message-error-content {
        border-top: 4px solid #B20610;
        padding: 1.25rem 1.25rem;
        background: #fcfcfc;
        box-shadow: 0 1px 2px 1px rgba(167, 164, 164, 0.25);
    }
    .message-error-content h3 {
        margin-bottom: 10px;
        font-weight: bold;
    }
</style>

<main dir="ltr" id="main-content" aria-label="Checkout" tabindex="-1">
    <div class="cart " bis_skin_checked="1">
        <div class="container" bis_skin_checked="1">
            <div class="message-error-content" bis_skin_checked="1">
                <h3>{% trans "Cannot Add Item" %}</h3>
                <p>{{ error_message }}</p>
                <div class="mt-4">
                    <p>{% trans "If you need help, please contact admin support team." %}</p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
