{% extends "main_django.html" %}
{% load i18n %}

{% block body %}
  <style>
    .centered-content {
      text-align: center;
      margin-top: 2em;
    }
  </style>
  <div class="centered-content">
    <h1 id="status-message">{% trans "Processing enrollment... please wait..." %}</h1>
    <p>
      {% trans "For your reference, the ID is:" %}
      <strong>{{ ecommerce_transaction_id }}</strong>
    </p>
  </div>

  <script type="text/javascript">
    const errorUrl = "{{ ecommerce_error_url|safe }}";
    const successUrl = "{{ ecommerce_success_url|safe }}";
    const statusUrl = "{{ ecommerce_status_url|safe }}";
    const statusMessage = document.getElementById("status-message");
    let attempts = 0;

    function checkStatus() {
      attempts++;
      const params = new URLSearchParams({
        transaction_id: "{{ ecommerce_transaction_id }}",
        merchant_reference: "{{ merchant_reference }}"
      });
      fetch(`${statusUrl}?${params.toString()}`, {
        method: "GET",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        redirect: "follow"
      })
      .then(response => {
        return response.json().then(data => ({
          status: response.status,
          data: data
        }));
      })
      .then(({ status, data }) => {
        if (status === 200) {
          window.location.href = data.invoice_url;
        } else if (status === 202) {
          if (attempts < {{ ecommerce_max_attempts }}) {
            setTimeout(checkStatus, {{ ecommerce_wait_time }});
          } else {
            window.location.href = errorUrl;
          }
        } else if (status === 400) {
          if (data.error) {
            statusMessage.textContent = data.error;
          }
          else {
            window.location.href = errorUrl;
          }
        } else {
          window.location.href = errorUrl;
        }
      })
      .catch(error => {
        console.error("Payment Check Status Error: ", error);
        window.location.href = errorUrl;
      });
    }

    window.onload = checkStatus;
  </script>
{% endblock %}
