include CHANGELOG.md
include LICENSE.txt
include README.rst
include requirements/base.in
include requirements/constraints.txt
recursive-include zeitlabs_payments zeitlabs_payments/templates test_utils *.html *.png *.gif *.js *.css *.jpg *.jpeg *.svg
